body {
    background-color: #282C35;
}

body a{
    color: #DDB8FF;
}

.blog-post-content p {
    margin-bottom: 1.75rem;
}

.blog-post-content a {
    color: #ffa7c4;
}

a:hover {
    color: white;
}

code {
    background-color: rgba(115,124,153,0.2);
}
