/* Light */
body {
    --bg: white;
    --textNormal: #222;
    --textTitle: #222;
    --textLink: blue;
    --subtitle: #663399;
    --hr: hsla(0, 0%, 0%, 0.2);
  
    background-color: var(--bg);
}
  
body.dark {
    -webkit-font-smoothing: antialiased;
  
    --bg: #131127;
    --textNormal: rgba(255, 255, 255, 0.88);
    --textTitle: white;
    --textLink: #c39eff;
    --subtitle: #c39eff;
    --hr: hsla(0, 0%, 100%, 0.2);
}

body.dark a {
    color: #c39eff;
}

body a{
    color: blue;
}